/* You can add global styles to this file, and also import other style files */
body {
	font-family: sans-serif, Helvetica, Arial;
	margin: 0;
}


button {
	text-transform: uppercase;
	color: #ff7834;
	border: 2px solid #ff7834;
	background-color: transparent;
	font-size: 14px;
	min-width: 100px;
	min-height: 35px;
	margin: 5px;
	margin-bottom: 2px;
	transition: 0.3s ease-out all;
}

button[disabled] {
	color: #eed;
	border: 2px solid #eed;
}